<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>it.uniroma2.pjdm.filter.CharsetFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>ip</param-name>
		<param-value>[retract]</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>[retract]</param-value>
	</context-param>
	<context-param>
		<param-name>dbName</param-name>
		<param-value>[retract]</param-value>
	</context-param>
	<context-param>
		<param-name>userName</param-name>
		<param-value>[retract]</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>[retract]</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<display-name>PJDM_Servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AllBooks</display-name>
		<servlet-name>AllBooks</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.AllBooks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBooks</servlet-name>
		<url-pattern>/AllBooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchBooks</display-name>
		<servlet-name>SearchBooks</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.SearchBooks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchBooks</servlet-name>
		<url-pattern>/SearchBooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookFav</display-name>
		<servlet-name>BookFav</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.BookFav</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookFav</servlet-name>
		<url-pattern>/BookFav</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddNoteServlet</display-name>
		<servlet-name>AddNoteServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.AddNoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNoteServlet</servlet-name>
		<url-pattern>/AddNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckToken</display-name>
		<servlet-name>CheckToken</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.CheckToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckToken</servlet-name>
		<url-pattern>/CheckToken</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DetailBookServlet</display-name>
		<servlet-name>DetailBookServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.DetailBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailBookServlet</servlet-name>
		<url-pattern>/DetailBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>getClassificaLettori</display-name>
		<servlet-name>getClassificaLettori</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.GetClassificaLettori</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getClassificaLettori</servlet-name>
		<url-pattern>/GetClassificaLettori</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookStatsServlet</display-name>
		<servlet-name>BookStatsServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.BookStatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookStatsServlet</servlet-name>
		<url-pattern>/BookStatsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoteStatsServlet</display-name>
		<servlet-name>NoteStatsServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.NoteStatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteStatsServlet</servlet-name>
		<url-pattern>/NoteStatsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetGenreStats</display-name>
		<servlet-name>GetGenreStats</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servlet.GetGenreStats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGenreStats</servlet-name>
		<url-pattern>/GetGenreStats</url-pattern>
	</servlet-mapping>
</web-app>
